<!DOCTYPE html>
<html>
  <head>
    <title> Bookmarks </title>
  </head>

  <body>
    <h1> Bookmark Manager </h1>
    <form action="/">
      <input type="submit" value="Homepage">
    </form>  
    </br>

    <h2> Your bookmarks </h2>
    <ul>
      <% @list.each do |bookmark| %> 
        <li> <%= bookmark %></li>
      <% end %>
    </ul>

    </br>
    <form action="/new">
      <input type="submit" value="Add a new bookmark">
    </form>  
  </body>
</html>

    