<!DOCTYPE html>
<html>
  <head>
    <title> Bookmarks </title>
  </head>

  <body>
    <h2> Your bookmarks </h2>

    <ul>
      <% @list.each do |bookmark| %> 
        <li> <%= bookmark %></li>
      <% end %>
    </ul>

    <form action="/">
      <input type="submit" value="Return to Homepage">
    </form>

  </body>
</html>

    