<html>
  <head>
    <title> Bookmark Manager </title>

  </head>

  <body>

    <h1> Bookmark Manager </h1>

    <form action="/bookmarks">
      <input type="submit" value="View all bookmarks">
    </form>

  </body>
</html>