<!DOCTYPE html>
<html>
  <head>
    <title> Bookmarks </title>
  </head>

  <body>
    <h1> Bookmark Manager </h1>
    <form action="/">
      <input type="submit" value="Homepage">
    </form>  

    <h2> Create a new bookmark </h2>
    </br>
    <form action="/submit" method="post">
      <input type="text" name="url" placeholder="Bookmark URL">
      <input type="submit" name="add_new_bookmark" value="Add new Bookmark">
    </form>

  </body>
</html>