<form action="/bookmarks" method='post'>
          <input type="hidden" name="id" value="<%= @id %>">
          <input type="text" name="title" placeholder="Title">
          <input type="text" name="url" placeholder="Bookmark URL">
          <input type="submit" name="update" value="Update">
</form>